<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_qltn_final2 (1)_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-59GH4OI\SQLEXPRESS;integrated security=SSPI;initial catalog=&quot;qltn_final2 (1)&quot;" />
        <add name="desktop-59gh4oi\sqlexpress.qltn_final2 (1).dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-59GH4OI\SQLEXPRESS;integrated security=SSPI;initial catalog=&quot;qltn_final2 (1)&quot;;Encrypt=false" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>